.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    border: 2px solid #4090ec;
    transition: all 700ms ease;
}

.front{
    transform: rotateY(180deg);
}

.back{
    background-image: url(imagens/Imagem_geral.jpg);
    backface-visibility: hidden;
}

.reveal-card{
    transform: rotateY(180deg);
}

.disabled-card{
    filter: saturate(60%) brightness(0.9);
    opacity: 0.9;
}